* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: white;
    height: 100vh;
    overflow: hidden;
}
#header {
    position: absolute;
    background:#ffffff;
    width:100%;
    top: 0;
    left: 0;
    padding: 0px 100px 0px 20px;
    display: flex;
    align-items: center;
    z-index: 100;
}
#header img{
    padding: 10px;
}
#header ul{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #003740;
    font-weight: 500;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active{
    background: #077a8c;
    color: #ffffff;
}

.camera-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1;
    transform: scaleX(-1) translateZ(0); /* 添加 translateZ(0) 强制 GPU 渲染 */
    will-change: transform;
    justify-content: center;
    align-items: center;
}

.apple-emoji {
    position: absolute;
    font-size: 200px;
    transform: scale(5);
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
    z-index: 20; /* 确保苹果在最顶层 */
    pointer-events: auto; /* 确保可以点击 */
}

@keyframes float {
    0%, 100% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-10px); }
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: scaleX(-1); /* Mirror effect for front camera */
    pointer-events: none;
    opacity:0.5;
    
}

.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    z-index: 10;
    display: none;
}

@media (max-width: 768px) {
    .apple-emoji {
        font-size: 100px;
        top: 20px;
    }
    
    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}