*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
   overflow-x: hidden;
   background: #ffffff;
   min-height: 100vh;
}
/*导航*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 100px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header img{
    padding: 10px;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #003740;
    font-weight: 500;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active{
    background: #077a8c;
    color: #ffffff;
}

section{
    margin: 65px 0px 0px;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section #bck{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
section #bigGoose {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    width: auto;
    object-fit: contain;
    z-index: 2;
}
section #green {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

}
section #text{
    position: absolute;
    color: #ffffff;
    font-size: 10vw;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 150px;
    z-index: 2;
}
section a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    background: rgba(255,255,255,0.6);
    color: #003740;
    padding: 10px 50px;
    border-radius: 100px;
    z-index: 4;
    margin-top: 200px;
    transform: translateY(100px);
}
section a:hover{
    background: rgba(155,207,232,0.7);
    color: #ffffff;
}

/*介绍
.introduce {
    height: 60vh;
    /*background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
}
.introduce a{
    position: relative;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 50px;
    border-radius: 100px;
    cursor: pointer;
}*/

.about {
    position: relative;
    padding: 100px 50px;
    background:#077a8c;
}
.about h2 {
    font-size: 50px;
    background-image: linear-gradient(135deg, #b2ddf6 0%, #67ff95 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}
.about p {
    font-size: 30px;
    color: #ffffff;
}
.container {
    max-width: 80%;
    padding: 0px;
}

.image-section {
    display: flex;
    align-items:flex-start;
    justify-content: left;
    margin-bottom: 40px;
    gap: 40px;
    height: auto;
}

.image-section img {
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    object-fit: cover;
}

.content {
    width: 60%;
}

.content h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.content p {
    font-size: 20px;
    line-height:2;
    color: #ffffff;
    margin-bottom: 20px;
}
.goose {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 4;
}
.goose img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1); 
    object-fit: cover;
}
