* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    cursor: none;
}
.goose {
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: style preserve -3d;
}
/*文字替代*/
.goose::before {
    content: attr(data-text);
    display: block;
}
/* 当有图片时隐藏文字 */
.goose.has-image::before{
    display: none;
}
/*image*/
.goose img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none; /* 默认隐藏 */
}

.goose.has-image img {
    display: block; /* 有图片时显示 */
}

.container {
    /* 保持原有容器样式 */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}